# local .terraform directories (containes provider binaries and modules)
**/.terraform/*

# .tfstate files (contains sensitive data)
*.tfstate*

# exlcude all .tfvars files (contains sensitive data)
*.tfvars
*.tfvars.json

# ignore planfiles
*.tfplan
